# Dart / Flutter
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# Android
app/android/.gradle/
app/android/local.properties
app/android/key.properties
*.jks
*.keystore

# IDE
.idea/
*.iml
.vscode/
